@charset "utf-8";
.accesocuenta {
	text-align: center;
	font-family: cardo;
	font-style: normal;
	font-weight: 400;
}
.panelprincipal {
	width: 100%;
	display: none;
}
.accesocuenta .tituloingreso a {
	color: #403939;
	text-decoration: none;
	font-size: x-large;
	font-variant: small-caps;
}
.accesocuenta .tituloingreso a:hover {
	color: #A2D4F2;
}
.footerregistro {
	background-color: #403939;
	height: 10px;
	margin-top: -10px;
}

#panelgeneral {
	background-color: #BFB3A4;
	float: left;
	margin-top: -10px;
	width: 100%;
}
.panelusuarioinferior {
	background-color: #593E2E;
	width: 100%;
	clear: right;
	height: 1rem;
	top: 0rem;
}

.boton2 {
	cursor: pointer;
	background-color: #BFB3A4;
	color: #403939;
	font-family: cardo;
	font-weight: 400;
	text-shadow: 1px 1px 3px #A2D4F2;
	border-width: thin;
	font-size: small;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 8.5vw;
	display: inline-table;
	left: 0.5vw;
	position: relative;
}



.botonsimple {
	cursor: pointer;
	background-color: #BFB3A4;
	color: #403939;
	font-family: cardo;
	font-style: normal;
	font-weight: 400;
	text-shadow: 1px 1px 3px #8C6E5D;
	border-width: thin;
	width: 8.5vw;
}
.boton1 {
	cursor: pointer;
	background-color: #8C6E5D;
	color: #BFB3A4;
	font-family: cardo;
	font-style: normal;
	font-weight: 700;
	/* [disabled]text-shadow: 1px 1px 3px #A2D4F2; */
	border-width: thin;
	font-size: small;
	width: 10vw;
	height: 7vh;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: 1vh;
	margin-left: 0.5vw;
}
.boton1:hover {
	cursor: pointer;
	background-color: #593E2E;
	color: #BFB3A4;
	font-family: cardo;
	font-style: normal;
	font-weight: 700;
	/* [disabled]text-shadow: 1px 1px 3px #A2D4F2; */
	border-width: thin;
	font-size: small;
	width: 10vw;
	height: 7vh;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: 1vh;
	margin-left: 0.5vw;
}
.boton4 {
	cursor: pointer;
	background-color: #8C6E5D;
	color: #BFB3A4;
	font-family: cardo;
	font-style: normal;
	font-weight: 700;
	/* [disabled]text-shadow: 1px 1px 3px #A2D4F2; */
	border-width: thin;
	font-size: small;
	width: 10vw;
}
.boton3 {
	cursor: pointer;
	background-color: #BFB3A4;
	color: #403939;
	font-family: cardo;
	font-style: normal;
	font-weight: 700;
	/* [disabled]text-shadow: 1px 1px 3px #A2D4F2; */
	border-width: thin;
	font-size: small;
}
